<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Overview</ion-title>
  </ion-navbar>
</ion-header>

<ion-fab right bottom (click)="addBotAlert()">
  <button ion-fab color="blue"><ion-icon name="add"></ion-icon></button>
</ion-fab>

<ion-content>
  <ion-card *ngFor="let bot of bots; index as id">
    <ion-card-header>
      <h1>{{bot.name}}</h1>
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="bot.stats">
        <ion-row>
          <ion-col col-5>
            <button ion-button icon-left color="default" block outline>
              Start
            </button>
          </ion-col>
          <ion-col col-7>
            <button ion-button icon-left color="default" block outline>
              {{bot.stats.currency}} {{bot.stats.balance.start | number: '1.8-8'}}
            </button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="showDetails">
          <ion-col col-5>
            <button ion-button icon-left color="{{bot.stats.balance.current > bot.stats.balance.start ? 'secondary' : 'danger'}}" block outline>
              Current
            </button>
          </ion-col>
          <ion-col col-7>
            <button ion-button icon-left color="{{bot.stats.balance.current > bot.stats.balance.start ? 'secondary' : 'danger'}}" block outline>
              {{bot.stats.currency}} {{bot.stats.balance.current | number: '1.8-8'}}
            </button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="showDetails">
          <ion-col col-5>
            <button ion-button icon-left color="{{bot.stats.balance.consolidated > bot.stats.balance.start ? 'secondary' : 'danger'}}" block outline>
              Consolidated
            </button>
          </ion-col>
          <ion-col col-7>
            <button ion-button icon-left color="{{bot.stats.balance.consolidated > bot.stats.balance.start ? 'secondary' : 'danger'}}" block outline>
              {{bot.stats.currency}} {{bot.stats.balance.consolidated | number: '1.8-8'}}
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-5>
            <button ion-button icon-left color="{{bot.stats.balance.profit > 0 ? 'secondary' : 'danger'}}" block outline>
              P/L %
            </button>
          </ion-col>
          <ion-col col-7>
            <button ion-button icon-left color="{{bot.stats.balance.profit > 0 ? 'secondary' : 'danger'}}" block outline>
              {{bot.stats.balance.profit / bot.stats.balance.start * 100 | number: '1.2-2'}}%
            </button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="showDetails">
          <ion-col col-5>
            <button ion-button icon-left color="{{bot.stats.balance.profit > 0 ? 'secondary' : 'danger'}}" block outline>
              P/L Total
            </button>
          </ion-col>
          <ion-col col-7>
            <button ion-button icon-left color="{{bot.stats.balance.profit > 0 ? 'secondary' : 'danger'}}" block outline>
              {{bot.stats.currency}} {{bot.stats.balance.profit | number: '1.8-8'}}
            </button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="showDetails">
          <ion-col col-5>
            <button ion-button icon-left color="{{bot.stats.position ? (bot.stats.position.pl > bot.stats.balance.start ? 'secondary' : 'danger') : 'dark'}}" block outline>
              P/L Position
            </button>
          </ion-col>
          <ion-col col-7>
            <button ion-button icon-left color="{{bot.stats.position ? (bot.stats.position.pl > bot.stats.balance.start ? 'secondary' : 'danger') : 'dark'}}" block outline>
              {{bot.stats.currency}} {{bot.stats.position.pl | number: '1.8-8'}}
            </button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="showDetails">
          <ion-col col-5>
            <button ion-button icon-left color="{{bot.stats.position.pl > 0 ? 'secondary' : 'danger'}}" block outline>
              P/L Position %
            </button>
          </ion-col>
          <ion-col col-7>
            <button ion-button icon-left color="{{bot.stats.position.pl > 0 ? 'secondary' : 'danger'}}" block outline>
              {{bot.stats.position.pl / bot.stats.balance.start * 100 | number: '1.2-2'}}%
            </button>
          </ion-col>
        </ion-row>
      </div>
      <ion-row *ngIf="showDetails">
        <ion-col col-12>
          <button ion-button icon-left color="light" block outline>
            <ion-icon name="link"></ion-icon>
            URL: {{bot.url}}
          </button>
        </ion-col>
        <ion-col col-12>
          <ion-note>Last updated: {{bot.updated ? (bot.updated | amTimeAgo) : 'never'}}</ion-note>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-7>
          <button ion-button icon-left color="info" block (click)="showDetails = !showDetails">
            <ion-icon name="analytics"></ion-icon>
            {{ !showDetails ? 'Show': 'Hide'}} Details
          </button>
        </ion-col>
        <ion-col col-5>
          <button ion-button icon-left color="danger" block (click)="deleteBotAlert(id)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
