<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Overview</ion-title>
  </ion-navbar>
</ion-header>

<ion-fab right bottom (click)="addBotAlert()">
  <button ion-fab color="blue"><ion-icon name="add"></ion-icon></button>
</ion-fab>

<ion-content>
  <ion-card *ngFor="let bot of bots; index as id">
    <ion-card-header>
      <h1>{{bot.name}}</h1>
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="bot.stats">
        <ion-row>
          <ion-col col-12>
            <button ion-button icon-left color="light" block outline>
              Balance
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            <button ion-button icon-left color="default" block outline>
              Start
            </button>
          </ion-col>
          <ion-col col-8>
            <button ion-button icon-left color="default" block outline>
              {{bot.stats.currency}} {{bot.stats.balance.start | number: '1.8-8'}}
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            <button ion-button icon-left color="{{bot.stats.balance.current > bot.stats.balance.start ? 'secondary' : 'danger'}}" block outline>
              Current
            </button>
          </ion-col>
          <ion-col col-8>
            <button ion-button icon-left color="{{bot.stats.balance.current > bot.stats.balance.start ? 'secondary' : 'danger'}}" block outline>
              {{bot.stats.currency}} {{bot.stats.balance.current | number: '1.8-8'}}
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            <button ion-button icon-left color="{{bot.stats.balance.profit > 0 ? 'secondary' : 'danger'}}" block outline>
              Profit
            </button>
          </ion-col>
          <ion-col col-8>
            <button ion-button icon-left color="{{bot.stats.balance.profit > 0 ? 'secondary' : 'danger'}}" block outline>
              {{bot.stats.currency}} {{bot.stats.balance.profit | number: '1.8-8'}}
            </button>
          </ion-col>
        </ion-row>
      </div>
      <ion-row>
        <ion-col col-12>
          <button ion-button icon-left color="light" block outline>
            <ion-icon name="link"></ion-icon>
            URL: {{bot.url}}
          </button>
        </ion-col>
        <ion-col col-12>
          <ion-note>Last updated: {{bot.updated ? (bot.updated | amTimeAgo) : 'never'}}</ion-note>
        </ion-col>
      </ion-row>
    </ion-card-content>
    <ion-row>
      <ion-col col-8>
        <button ion-button icon-left color="info" block>
          <ion-icon name="analytics"></ion-icon>
          View Statistics
        </button>
      </ion-col>
      <ion-col col-4>
        <button ion-button icon-left color="danger" block (click)="deleteBotAlert(id)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
